body {
    color:hsl(0, 0%, 100%);
    background-image: url('https://tvcultura.com.br/upload/tvcultura/acontece/20170516162502_acontece.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 3px;
    }

    header{
        color:rgb(216, 57, 136);
        border: solid 10px rgb(240, 21, 141);
    }
    section {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content:center;

    }
    .categoria-videos img{
        height: 200px;
    opacity: 0.7;
    }
    
    .categoria-videos img:hover{
        opacity:1.0;
    }

    .categoria-videos {
        display:flex;
        overflow-x: auto;
        gap: 10px;
    }

    .categoria {
        padding-left:20px;
        padding-right: 20px;
    }